@font-face {font-family: 'Calibri';font-weight:normal;font-style:normal;src: local('Calibri'), local("Calibri"), url("calibri.ttf") format("truetype");}
@font-face {font-family: 'Calibri Bold';font-weight:700;font-style:normal;src: local('Calibri Bold'), local("Calibri"), url("calibrib.ttf") format("truetype");}
