/* Text styles */
.xr_s0 {font-family:Arial;font-weight:normal;font-style:normal;font-size:11px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s1 {font-family:Arial;font-weight:normal;font-style:normal;font-size:8px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s2 {font-family:'Calibri';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s3 {font-family:'Calibri Bold';font-weight:bold;font-style:normal;font-size:16px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s4 {font-family:'Calibri';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;letter-spacing:0.0em;}
.xr_s5 {font-family:'Calibri Bold';font-weight:bold;font-style:normal;font-size:16px;text-decoration:none;letter-spacing:0.0em;}
.xr_s6 {font-family:Arial;font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s7 {font-family:Arial;font-weight:bold;font-style:normal;font-size:14px;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s8 {font-family:Arial;font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;letter-spacing:0.0em;}
